.header{
    display: flex;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 60px;
}


.header_nav{
    display: flex;
}

.header_logo{
    display: flex;
    align-items: center;
    color: #ff9f00;
    margin :0 25px;
}

.header_logoTitle{
    text-decoration: none;
    border: 0;
    color: white;
}

.header_searchInput{

}

.Search_bar{

}

.nav_itenLineOne{
    font-size: 10px;

}

.nav_itemLineTwo{
font-size: 13px;
font-weight: 800;
}

.nav_item{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header_logoImage{
    margin-right: 10px;
}
